/***
 *    ┏┓┓ ┏┏┓┓┏┏┓┏┓┳┓  ┏┓┏┓┏┓
 *    ┗┓┃┃┃┣┫┗┫┃┃┗┓┃┃━━┃ ┗┓┗┓
 *    ┗┛┗┻┛┛┗┗┛┗┛┗┛┻┛  ┗┛┗┛┗┛
 *                           
 */

/* Import pywal colors */
@import "../../.cache/wal/colors-swayosd.css";

/* Main css config */
window {
    border-radius: 0;
    border: 2px solid @color8;
    background-color: @background;
}

label {
    font-family: "CaskaydiaCove Nerd Font Propo", monospace;
    font-size: 11pt;
    color: @foreground;
}

image {
    color: @color10;
}

progressbar {
    border-radius: 0;
}

progress {
    background-color: @color10;
}
