/***
 *    ┏┓┓┏┓ ┏┏┓┓   ┏┓┏┳┓┓┏┓
 *    ┃┃┗┫┃┃┃┣┫┃ ━━┃┓ ┃ ┃┫ 
 *    ┣┛┗┛┗┻┛┛┗┗┛  ┗┛ ┻ ┛┗┛
 *                         
 */





@define-color accent_color {color9};
@define-color accent_bg_color alpha({color10}, 0.7);
@define-color accent_fg_color {background};

@define-color destructive_color {color1};
@define-color destructive_bg_color {color9};
@define-color destructive_fg_color {color15};

@define-color success_color {color10};
@define-color success_bg_color {color14};
@define-color success_fg_color {color15};

@define-color warning_color {color11};
@define-color warning_bg_color {color3};
@define-color warning_fg_color {color15};

@define-color error_color {color9};
@define-color error_bg_color {color1};
@define-color error_fg_color {color15};

@define-color window_bg_color {background};
@define-color window_fg_color {foreground};
@define-color view_bg_color {background};
@define-color view_fg_color {foreground};

@define-color headerbar_bg_color @window_bg_color;
@define-color headerbar_fg_color @window_fg_color;
@define-color headerbar_border_color @window_bg_color;
@define-color headerbar_backdrop_color @window_bg_color;
@define-color headerbar_shade_color @window_bg_color;

@define-color card_bg_color {color0};
@define-color card_fg_color {foreground};
@define-color card_shade_color rgba(0, 0, 0, 0.07);

@define-color dialog_bg_color @card_bg_color;
@define-color dialog_fg_color @card_fg_color;

@define-color popover_bg_color @card_bg_color;
@define-color popover_fg_color @card_fg_color;

@define-color shade_color rgba(0, 0, 0, 0.36);
@define-color scrollbar_outline_color rgba(139, 145, 152, 0.5);

@define-color sidebar_bg_color {color0};
@define-color secondary_sidebar_bg_color @sidebar_bg_color;
@define-color sidebar_backdrop_color @sidebar_bg_color;
@define-color secondary_sidebar_backdrop_color @sidebar_bg_color;

